---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-800">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}/favicon.svg`} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="min-h-screen flex flex-col items-center justify-between">
			<slot />

			<footer class="bg-white items-center rounded-lg shadow w-[64rem] max-w-full dark:bg-gray-800">
				<div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
					<span class="text-sm px-2 text-gray-500 sm:text-center dark:text-gray-400"
						>Coded by <a href="https://cafa.dev" class="hover:underline text-gradient">Cafa.dev</a>
					</span>
					<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
						>Built with <a href="https://astro.build" class="hover:underline text-gradient"
							>{Astro.generator}</a
						>
					</span>
				</div>
			</footer>
		</div>
	</body>
</html>
